body{
    margin: auto;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url(../images/world-of-warcraft-the-burning-crusade-11.jpg);
    min-height: 100%;
}

h1{
    text-align: center;
    color: white;
    font-family: "Fredoka One", "sans-serif";
    font-size: 3.5rem !important;
}

h2{
    color: white;
    font-family: "Fredoka One", "sans-serif";

}

h4{
    color: white;
    font-family: "Fredoka One", "sans-serif";
    font-size: 25px !important;
}

.dropdown>.dropdown-menu {
    top: 200%;
    transition: 0.3s all ease-in-out;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
  }

.nav-link{
    transition: 0.3s;
}

.nav-link:hover{
    transform: scale(1.2);
    
}




  